* {
	padding: 0;
	margin: 0;

}

body {
	background-color: #000;
	/* background-image: url('/src/css/images/body-bg.gif') !important; */
	color: #fff;
	font-family:Arial, Helvetica, Sans-Serif;
}

.main  {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	text-indent: -4000px;
	top:37px;
	left:0;
	background: url('src/css/images/logo.gif') no-repeat 0 0;
	width:239px;
	height:49px;
}

.main-links {
	width: 60%;
	padding-top: 20px;
}

.main-links ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	align-self: center;
}
.main-links ul li {
	list-style: none;
}

.main-links ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.main-links ul li:nth-child(1) a {
	color: #d91d2a;
}

.main-links ul li a:hover {
	color: #d91d2a;
}

.content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.background {
	background-image: url('/src/css/images/image-hover.png');
}

.content img {
transition: all .2s ease-in-out;
cursor: pointer;

}

.content img:hover {
	filter: opacity(25%);
}

.split {
	display: flex;
	justify-content: space-between;
}

.split p {
	font-size: 12px;
	color: #f2a223;
}

.split p:nth-child(2) {
	text-decoration: underline;
	cursor: pointer;
}

.split p:nth-child(2):hover {
	text-decoration: none;
}



.under {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.under h4 {
	font-size: 10px;
}

.under-sub {
	display: flex;
	justify-content: space-between;
	width: 25%;
	
}

.under-sub img {
	height: 10px;
	margin-top: 2px;
}

.list ul {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;

}
.list ul li {
	list-style: none;
}

.list ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.list ul li a:hover {
	text-decoration: underline;
}

.list {
	width: 50%;
}

.search-section {
	display: flex;
	justify-content: space-between;
	padding:  0 0 0 0;
}

.search {
	font-size: 14px;
	
}

.search label {
	margin-right: 10px;
	font-weight: bold;
}

.search input {
	width:238px;
	border:1px solid #413e3e;
	background:#000;
	color:#787878;
	padding:2px 0 2px 2px;
	height: 20px;

}

.search button {
	margin-left: 10px;
	color: #fff;
	border: none;
	background-image: url(/src/css/images/body-bg.gif);
	font-weight: bold;
}

.rule {
	margin-bottom: 10px;
	margin-top: 2px;
	color: #666;
}

.rule-2 {
	margin-top: 10px;
	color: #666;
}

hr {
	border: dashed 0.2px ;
}

.footer {
	display: grid;
	grid-template-columns:  auto auto;
	column-gap: 25px;
	row-gap: 20PX;
}

.footer h4:nth-child(1) {
	color: #f2a223;
	font-size: 14px;
	font-weight: bold;
}

.footer h4:nth-child(2) {
	font-size: 12px;
}

.footer h4:nth-child(3) {
	color: #f2a223;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.footer h4:nth-child(3):hover {
text-decoration: none;
}

.rights {
	display: flex;
	justify-content: space-between;
}

.rights p {
	font-size: 12px;
	color: #787878;
}


